<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.masakih.xspf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>xspf</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xspf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/xspf+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XML Shareable Playlist Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.masakih.xspf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>XspfQTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>avi</string>
				<string>mpg</string>
				<string>mpeg</string>
				<string>mp4</string>
				<string>mpg4</string>
				<string>mqv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/quicktime</string>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>QuickTime Movie</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
				<string>moov</string>
				<string>qtlk</string>
				<string>MPEG</string>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XspfQTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-matroska</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Matroska Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XspfQTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/divx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DivX Media Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>XspfQTDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.masakih.XspfQT</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>%%%%REVISION%%%%</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
